<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Page</title>
<link href="font-awesome.min.css" rel="stylesheet">
<link href="someshit.css" rel="stylesheet">
<link href="welcome.css" rel="stylesheet">
    
    <style>
        body
        {
            width: 300px;
            height: 400px;
/*            text-align: center;*/
            padding: 20px;
            border: 3px solid #0000cc;
            border-radius: 10px;
            color: #0000cc;
            position: absolute;
            top: 0;
            right: 0px;
            bottom: 0;
            left: 0;
            margin: auto;
        }    
    </style>
    
</head>
<body>
    <div id="space"><br></div>
    <div id="container">
        <div id="wb_Text1" style="position:absolute;left:119px;top:36px;width:266px;height:37px;z-index:1;">
            <h1>Welcome!</h1></div>
        <div id="wb_IconFont1" style="position:absolute;left:0px;top:0px;width:50px;height:51px;text-align:center;z-index:2;">
            <a href="./main.html">
                <div id="IconFont1"><i class="material-icons">&#xe5dc;</i></div>
            </a></div>
        <div id="wb_FontAwesomeIcon1" style="position:absolute;left:36px;top:105px;width:41px;height:39px;text-align:center;z-index:3;">
            <div id="FontAwesomeIcon1"><i class="fa fa-user-circle"></i></div></div>
        <div id="wb_FontAwesomeIcon2" style="position:absolute;left:31px;top:162px;width:50px;height:50px;text-align:center;z-index:4;">
            <div id="FontAwesomeIcon2"><i class="fa fa-pencil"></i></div></div>
        <input type="text" id="Editbox1" style="position:absolute;left:95px;top:102px;width:188px;height:34px;z-index:5;" name="Editbox1" value="Логин" spellcheck="false">
        <input type="text" id="Editbox2" style="position:absolute;left:95px;top:165px;width:188px;height:34px;z-index:6;" name="Editbox1" value="Пароль" spellcheck="false">
        <hr id="Line1" style="position:absolute;left:14px;top:240px;width:340px;z-index:7;">
        <div id="wb_Text2" style="position:absolute;left:133px;top:260px;width:123px;height:17px;z-index:8;">
            <span style="color:#000000;font-family:Arial;font-size:15px;"><u>Забыли пароль?</u></span></div>
        <div id="wb_Text3" style="position:absolute;left:85px;top:301px;width:236px;height:16px;z-index:9;">
            <span style="color:#000000;font-family:Arial;font-size:13px;">Впервые на сайте и еще нет аккунта?</span></div>
        <div id="wb_Text4" style="position:absolute;left:142px;top:325px;width:123px;height:17px;z-index:10;">
            <span style="color:#000000;font-family:Arial;font-size:15px;"><u>Регистрация</u></span></div>
        <input type="submit" id="Button1" name="log_in" value="Войти" style="position:absolute;left:83px;top:371px;width:203px;height:56px;z-index:11;">
    </div>
</body>
</html>